/venv/
*cache

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.__pycache__
logs

# local files
token.json
service-account-key.json
DownloadedStories
containers.json
public-endpoint.json
tests/test_instagram_bot_media/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover